<div class = "row">
  <div class = "col-md-12">
   <h1>Your Foods</h1>
  </div>
</div>

<div class = "foods row">
  <div class = "col-md-12">
    <% @foods.each do |f| %>
    <%= link_to f.title, food_path(f) %>
   <hr>
    <% end %>
  </div>
</div>
